.feed {
    display: grid;
    grid-template-columns: minmax(0, 640px) 300px;
    justify-content: center;
    gap: 24px;
  }
  
  .feed-posts {
    overflow-y: auto;
    padding: 24px;
  }

  .feed-suggestions {
    position: sticky;
    top: 0;
    /* height: 100vh; */
    height: calc(100vh - 0px);

    
  }